target
node
node_modules
bower_components
.idea
*.iml
*.log
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
/topsem-web/src/main/webapp/dist
/topsem-web/src/main/webapp/bower_components
.gradle
build
dist
/topsem-web/src/main/webapp/dist
/topsem-web/src/main/webapp/bower_components
/topsem-web/src/main/webapp/scripts/angular
/topsem-web/src/main/webapp/scripts/plugins
/topsem-web/src/main/webapp/scripts/plugins
/topsem-web/src/main/webapp/scripts/bootstrap
/topsem-web/src/main/webapp/scripts/jquery
/topsem-web/src/main/webapp/styles/bootstrap
/topsem-web/src/main/webapp/styles/plugins
/topsem-web/src/main/webapp/x-old
/topsem-web/src/main/webapp/x-inspinia
/topsem-web/src/main/webapp/views/x-inspinia